<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kirgu_tsd.ru" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Киргу ТСД</name>
    <description>
        Приложение для сотрудников компании киргу.
    </description>
    <author email="umakhanr7@yandex.ru" href="mailto:umakhanr7@yandex.ru">Umakhan Magomedov</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xffffffff" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="SplashScreenBackgroundColor" value="0xffffffff" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="InterceptRemoteRequests" value="all" />
    <icon src="www/icon.png" />
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml"
                     mode="merge" target="/manifest/application"
                     xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <icon density="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="www/res/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="www/res/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
    <plugin name="cordova-plugin-ionic-webview" />
    <plugin name="cordova-plugin-ionic-keyboard" />
    <plugin name="phonegap-plugin-barcodescanner" spec="8.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="6.0.0" />
    <plugin name="cordova-plugin-camera" spec="4.1.0">
        <param name="CAMERA_USAGE_DESCRIPTION" value="Нам необходим доступ к вашей камере для использования приложения и сканирования штрих кодов." />
        <param name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Нам необходим доступ к вашей галереи для использования приложения и сканирования штрих кодов." />
        <param name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" value="Нам необходим доступ к вашей галереи для использования приложения и сканирования штрих кодов." />
    </plugin>
</widget>
